<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar</title>
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/carrinho.css">
</head>
<body>

    <header>
        <img src="../img/logo.jpeg" alt="" width="100px"  id="img-conta">
        <div class="pesquisar">
            <input type="text" placeholder="Pesquisar Livros">
            <img src="../img/lupa.svg" alt="" width="25px">
       </div>
        <div class="perfil">
            <img src="../img/img-conta.png" alt="" width="70px">
            <h3>Nome do Usuário</h3>
        </div>
    </header>


    <main>
        <div class="container-compra">
            <div class="container-info">
                <div class="container-info-livro">
                    <div class="container-livro">
                        <div class="img-livro">
                            <img src="../img/livro.jpg" alt="" width="100px">
                        </div>
                        <div class="info-livro">
                            <h3>Resident Evil: The Umbrella Conspiracy</h3>
                            <h3>20.99</h3>
                        </div>
                    </div>
                    <div class="cancelar">
                        <button class="botao-cancelar">Cancelar</button>
                    </div>
                </div>
                <div class="container-info-livro">
                    <div class="container-livro">
                        <div class="img-livro">
                            <img src="../img/livro2.jpg" alt="" width="100px">
                        </div>
                        <div class="info-livro">
                            <h3>Diário de Gravity Falls</h3>
                            <h3>30.99</h3>
                        </div>
                    </div>
                    <div class="cancelar">
                        <button class="botao-cancelar">Cancelar</button>
                    </div>
                </div>
                
            </div>
            <div class="container-pagamento">
                <div class="container-metodos-pagamento">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Former_Visa_%28company%29_logo.svg" alt="">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT86oOYoFoZbE6YBjHFQqr34-sEUr1NKYFqTg&s" alt="">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/2052px-American_Express_logo_%282018%29.svg.png" alt="">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxnb7BNQijbSjeslIKWW7WBf6sL9o4wmugRw&s" alt="">
                </div>
                <div class="pagamento">
                    <div class="info-pagamento">
                        <h3>Preço Total: 51.98</h3>
                        <h3>Quantidade de Livros: 2</h3>
                    </div>
                    <button class="botao-pagamento">Confirmar Pagamento</button>
                </div>
            </div>
        </div>
        <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"
      ></script>
        <script src="/gabrielJobs/Implementando/views/js/perfil.js"></script>
    </main>
